@model FinalProject.Models.SummaryPage.SummaryInformation

@{
    ViewBag.Title = "Index";
}

<h2>Summary</h2>

<body>
    <div>
        Your movie selection is @Model.MovieTitle! Enjoy!
        <div class="col-lg-6">
            <img class="card-img-top" src="http://image.tmdb.org/t/p/w185/@Model.PosterPath" alt="Card image cap">
        </div>
    </div>
    <p>To continue on to food, please enter your ZipCode</p>
    @using (Html.BeginForm("index", "food"))
    {
        <input type="text" name="zip" />
        <input type="submit" />
    }

    @{
        try // logic to switch between genre/popular depending on which cookies are present
        {
            var get = HttpContext.Current.Request.Cookies["information"].Value;
            if (get != null)
            {

                var result = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(get); //break the cookie into objects
                
                <p>You fought over these movies:</p> //iterate list
                foreach (var item in result)
                {

                    <p>@item</p>

                }

                var c = new HttpCookie("information"); //erase cookie
                c.Expires = DateTime.Now.AddDays(-1);
                Response.Cookies.Add(c);
            }
        }
        catch (Exception)
        {
            var get1 = HttpContext.Current.Request.Cookies["genreinfo"].Value; //pulls cookie


            if (get1 != null)
            {

                var result = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(get1); //break the cookie into objects


                <p>You fought over these movies:</p> //iterate list
                foreach (var item in result)
                {

                    <p>@item</p>

                }

                var c = new HttpCookie("genreinfo"); //erase cookie
                c.Expires = DateTime.Now.AddDays(-1);
                Response.Cookies.Add(c);
            }

        }



    }
</body>