@model FinalProject.Models.FoodModels.FoodViewModel

@{
    ViewBag.Title = "Index";
}

<p>@Model.BusinessOne.Categories</p>
<p>@Model.BusinessOne.Name</p>



<p>@Model.BusinessTwo.Categories</p>
<p>@Model.BusinessTwo.Name</p>

<h2>Index</h2>

