body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-y:  auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    font-family: Arial;
    color: white;
}

.split {
    height:100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: visible;
    padding-top: 20px;
    overflow-y:auto;
    justify-content:center;
}

.left {
    left: 0;
    background-color: #111;
    overflow-x: visible;
    position: center;
}

.right {
    right: 0;
    background-color: #808080;
    overflow-x: visible;
    position: center;
  
}

.right1 {
    right: 0;
    background-color: #808080;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
  
    height:auto;
}

.centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
    overflow-x: auto;
    overflow-y: auto;
}

.centered2 {
    position: absolute;
    top: 24%;
    left: 10px;
    overflow-x: auto;
}
.centered3 {
    position: absolute;
    top: 62%;
    left: 10px;
    overflow-x: auto;
}

.reframe {
    height: 500px;
    width: 600px;
    overflow: auto;
}



.centered img {
    width: 300px;
    border-width: 30px;
    border-color: antiquewhite;
    top: 50%;
}
.button {
    background-color: black;
    border: none;
    color: gray;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
input[type=text] {
    background-color:  darkgrey;
    color: white;
}
div[contenteditable]:focus {
    border: 10px solid;
    color:coral;
}

div[contenteditable] {
    width: 97%;
    max-width: 100%;
    margin-right: 10px;
    font-family: Arial,sans-serif;
    display:  initial;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    outline: 0;
    background-color: inherit;
    border: 1x hidden #ccc;
    border-radius: 3px;
    font-size: 13px;
    line-height: 20px;
   
}
