@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to {insert app name here}</h1>

</div>

<div class="row">
    <p>Some study has probably shown that picking movies with your significant other is frustrating as hell. Choosing what to eat is somehow even worse.  You'd think that with so many choices, it would be easy. You'd be wrong. 
    We aim to make that simple, so you can actually do the chill part of netflix and chill  </p>
        <div class="card-body">
            <input type="button" value="Movies" onclick="location.href='@Url.Action("Index","Movie")'" />
        </div>
</div>