@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to {insert app name here}</h1>

</div>

<div class="row">
        <div class="card-body">
            <input type="button" value="Movies" onclick="location.href='@Url.Action("Index","Movie")'" />
        </div>
</div>